<div class="top_view row-fluid ">
  <h1 class="span2">Dashboard</h1>
</div>
<div id="dashboard">
    <div id='gmt_time'>
        <div id='gmt_display'>
            <label for='gmt' id='gmt_label'>Enter GMT time: </label>
            <input id='gmt_input' name='gmt'/>
            <button id='btn_gmt'>Display</button>
            <label id='output'>San Francisco: Dec 20 2012, 12:03 PM | Hanoi: Dec 21 2012, 03:03 AM</label>
        </div>
    </div>
</div>