<div class="view container-fluid well">
    <table class="table table-striped">
        <thead>
            <th>Active</th>
            <th>Title</th>
            <th>Summary</th>
            <th></th>
        </thead>
        <tbody id="Eventlist">
        </tbody>
    </table>
</div>
