<td>
    <%= active %>
</td>
<td>
    <%= title %>
</td>
<td>
    <%= summary %>
</td>
<td>
    <div class="grid-row btn-toolbar">
        <div class="grid-buttons btn-group">
            <button class="send-button btn">Send</button>
        </div>
    <div>
</td>
