<div class="modal-header">
  <button type="button" data-dismiss="modal" class="close">&times;</button>
  <h3><%- title %></h3>
</div>
<div class="modal-body">
  <blockquote>
  <p class="lead"><%- messageBody %></p>
  </blockquote>
</div>
<div class="modal-footer">
  <button class="accept btn btn-danger">Yes</button>
  <button data-dismiss="modal" class="btn">No</button>
</div>
