<textarea id="add-message-box" class="span12"></textarea>
<div class="buttons">
  <button class="event-submit-comment btn btn-small btn-primary">
    <i class="icon-plus icon-white"></i> Comment
  </button>
  <button class="event-cancel-comment btn btn-small btn-danger">
    <i class="icon-remove icon-white"></i> Cancel
  </button>
</div>
