<div class="event-messages span10">
  <div id="event-message-list" class="event-message-list">
  </div>
  <p class="total_comment" style="color: #800105"><%- total_comment %> comments</p>
  <div class="add-message-box-area">
    <textarea id="add-message-box" class="span9"></textarea>
  </div>
  <div class="buttons">
    <input class="event-submit-comment btn btn-small btn-primary" type="submit" value="ADD Comment">
  </div>
</div>
