<h3 id="editheader" class="span3">Event Center</h3>
<div class="top-alert span6 row-fluid status-bar"></div>
<div class="span3 btn_holder">
  <button id="view" class="view-button btn btn-primary">
    <i class="icon-list icon-white"></i> Back to Event Center
  </button>
</div>
