<td>
  <%- date %>
</td>
<td>
  <%- title %>
</td>
<td>
  <%- summary %>
</td>
<td>
  <%- groups %>
</td>
<td>
  <%- responded_count %>
</td>
<td>
  <% student_count + contact_count - responded_count %>
</td>
<td>
  <%- last_broadcast_date %>
</td>
<td>
  <div class="grid-row btn-toolbar">
    <div class="grid-buttons btn-group">
      <button class="edit-button btn">
        <i class="icon-eye"></i> View
      </button>
    </div>
  </div>
</td>
