<div class="top_view row-fluid ">
  <h1 class="span3">Event Center</h1>
  <div class="top-alert span6 row-fluid status-bar"></div>
  <div class="span3 btn_holder">
    <button id="add_new" class="add-button btn-large btn-primary">
      <i class="icon-plus icon-white"></i> Add New Broadcast
    </button>
  </div>
</div>
<div id="add_area" class="row-fluid"></div>
