<div class="fQuickReply">
    <strong>Reply:</strong>
        <input name="tbQuickReply" class="tbQuickReply" size="30" type="text" />
        <input class="btnQuickReply" value="Send" type="button" />
        <input class="btnCancel" value="Cancel" type="button" />
</div>