<div class="gridfilters"></div>
<div class="griditems" style="height: 400px; overflow: auto;">
<table class="table table-striped">
    <tbody class="listitems">
    </tbody>
</table>
</div>
<div class="gridFooter row-fluid"></div>
