<form action="/" enctype="multipart/form-data" method="post"
  class="import containter-fluid well form-horizontal modal">
  <div class="row-fluid">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <fieldset>
        <input type="file" name="students_file" id="students_file" />
      </fieldset>
    </div>
  </div>
</div>
