<h3 id="editheader" class="span3">Student</h3>
<div class="top-alert span7 row-fluid status-bar"></div>
<div class="span2 btn_holder">
    <button id="view" class="view-button btn btn-primary">View All Students</button>
</div>
