<div class="top_view row-fluid ">
  <h1 class="span2">Students</h1>
  <div class="top-alert span6 row-fluid status-bar"></div>
  <div class="span4 btn_holder">
    <button id="add_new" class="add-button btn-large btn-primary">Add Student</button>
    <button id="import" class="import-button btn-large btn">Import Students</button>
  </div>
</div>
<div id="add_area" class="row-fluid"></div>
