<td>
  <%- name %>
</td>
<td>
  <%- (active) ? "Yes": "No" %>
</td>
<td>
  <div class="grid-row btn-toolbar">
    <div class="grid-buttons btn-group">
      <button class="students-button btn">
        <i class="icon-list"></i> Manage Students
      </button>
      <button class="edit-button btn">
        <i class="icon-pencil"></i> Edit
      </button>
      <button class="remove-button btn">
        <i class="icon-trash"></i> Remove
      </button>
    </div>
  </div>
</td>
