<div class="control">
  <input name="group" type="text" value="<%- name %>" autocomplete="off"
         class="group group-name-select" placeholder="Group Name..." />
  <a class="remove icon-remove"></a>
</div>
