<div class="top_view row-fluid">
  <h1>Group: <%- name %></h1>
  <button class="close" data-dismiss="modal">X</button>
  <div class="top-alert span8 row-fluid status-bar"></div>
</div>

<div class="row-fluid">
  <div id="groupstudentlist" class="groupstudentlist span5" style="margin: auto 24px; width: 94%">
    <h2>Group Members</h2>
  </div>
</div>
