<td>
  <%- name %>
</td>
<td>
  <%- added %>
</td>
<td>
  <%- modified %>
</td>
<td class="manage-button">
  <button class="remove-button btn">
     <i class="icon-trash"></i> Remove
  </button>
  <button class="edit-button btn" style="margin: 0 -2px">
     <i class="icon-pencil"></i> Edit
  </button>
  <button class="users-button btn">
     <i class="icon-list"></i> Manage Users
  </button>
</td>
