<td>
  <%- name %>
</td>
<td>
  <%- email %>
</td>
<td>
  <%- phone %>
</td>
<td>
  <div class="grid-row btn-toolbar">
    <div class="grid-buttons btn-group">
      <button class="edit-button btn">Edit</button>
      <button class="remove-button btn">Remove</button>
    </div>
  </div>
</td>

