<td>
  <%- last_name %>
</td>
<td>
  <%- first_name %>
</td>
<td>
  <%- email %>
</td>
<td>
  <%- phone %>
</td>
<td class="manage-button">
  <button class="remove-button btn">
    <i class="icon-trash"></i> Remove
  </button>
  <button class="edit-button btn" style="margin: 0 -2px">
    <i class="icon-pencil"></i> Edit
  </button>
</td>

