<span class="add-on"><i class="icon-<%- icon %>"></i></span>
<input type="text" value="<%- value %>" placeholder="<%- type_name %>..."
  autocomplete="off" class="input-small method value <%- type %>" />
