<!--<input type="text" value="<%= type %>" placeholder="Type" class="method type input-small" />-->
<input type="text" value="<%= value %>" placeholder="Value..." class="method value" />
<a class="remove icon-remove"></a>
